@model C_bool.BLL.DAL.Entities.User

@{
    ViewData["Title"] = "Szczególy użytkownika";
}

<h1>Szczególy użytkownika</h1>

<div>
    <h4>Użytkownik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Id"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Name"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Gender"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Gender
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Email"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CreatedOn"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedOn
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IsActive"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.IsActive
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Points"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Points
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy użytkowników</a>
</div>