@using C_bool.WebApp.Config
@using Microsoft.Extensions.Options
@using C_bool.BLL.DAL.Entities
@using C_bool.BLL.Logic
@using Castle.Core.Internal
@using C_bool.BLL.Config

@model List<C_bool.WebApp.Models.Place.PlaceViewModel>
@inject IOptionsSnapshot<GoogleAPISettings> _appSettings;

@{
    var nearbyPlacesCount = (int)ViewBag.NearbyPlacesCount;
    var count = 0;
}

<div class="col-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header bg-gray-200">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="mb-0">Miejsca i zadania w okolicy</h2>
                </div>
                @*<div class="col text-end">
                    <a href="#" class="btn btn-sm btn-primary">Pokaż wszystkie</a>
                </div>*@
            </div>
        </div>
        <ul class="list-group list-group-flush list my--3">
            @if (Model.Count == 0)
            {
                <li class="list-group-item cebool-list-main-screen px-2">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Nic tu nie mamy...</h4>
                        <p>Nie znaleziono miejsc i zadań w wybranej okolicy i o podanych kryteriach. Spróbuj wyszukać miejsca w dalszej odległości.</p>
                        <hr>
                        <p class="mb-0">Możesz także dodać nowe miejsca i zadania.</p>
                    </div>
                </li>
            }
            else
            {
                @foreach (var item in Model)
                {
                    count += 1;
                    <li class="list-group-item cebool-list-main-screen px-0">
                        <div class="cardrow mb-0" style="">
                            <div class="row g-0">
                                <div class="col-md-3" style="height: 100%;">
                                    <a asp-action="Details" asp-controller="Places" asp-route-id="@item.Id" title="">
                                        @if (item.Photo is not null)
                                        {
                                            <img href="Places/Details/@item.Id" class="" width="100%" height="280" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; object-fit: cover; border-radius: 0px 30px 30px 0px;"
                                                 src="data:image;base64,@Html.Raw(item.Photo)" alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img href="Places/Details/@item.Id" class="" width="100%" height="280" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; object-fit: cover; border-radius: 0px 30px 30px 0px;"
                                                 src="/img/image-placeholder.jpg" alt="Card image cap">
                                        }
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <div>
                                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                                            <p class="card-text"><small class="text-muted"><span class="badge bg-secondary">@SearchNearbyPlaces.ReadableDistance(SearchNearbyPlaces.DistanceBetweenPlaces(ViewBag.Latitude, ViewBag.Longitude, item.Latitude, item.Longitude)) od Ciebie</span> @Html.DisplayFor(modelItem => item.Address)</small></p>
                                            @if (!item.ShortDescription.IsNullOrEmpty())
                                            {
                                                <p class="card-subtitle">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                                            }
                                            else
                                            {
                                                <p class="card-subtitle">To miejsce nie posiada opisu</p>
                                            }
                                            <br />
                                        </div>
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                @{
                                                    var activeTasks = item.Tasks.Where(x => x.IsActive).ToList();
                                                    if (activeTasks.Any(x => x.IsActive))
                                                    {
                                                        <h2 class="accordion-header" style="background-color: #ebfff6" id="@Html.Raw($"flush-heading{count}")">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@Html.Raw($"#flush-collapse{count}")" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                <div class="d-flex align-items-center me-5">
                                                                    <div class="icon-shape icon-sm icon-shape-success rounded me-3">
                                                                        <svg data-darkreader-inline-fill="" fill="currentColor" style="--darkreader-inline-fill:currentColor;" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                                                    </div>
                                                                    <div class="d-block">
                                                                        <label class="mb-0">Cebule do zgarnięcia</label>
                                                                        <h4 class="mb-0"><b>@activeTasks.Sum(x => x.Points) cebul</b> z <b>@activeTasks.Count</b> zadań!</h4>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </h2>
                                                        <div id="@Html.Raw($"flush-collapse{count}")" class="accordion-collapse collapse" aria-labelledby="@Html.Raw($"@flush-heading{count}")" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">

                                                                <div class="row mb-0">

                                                                    <h6 class="text-muted">Lista aktywnych zadań:</h6>
                                                                    <ul class="list-group">
                                                                        @foreach (var task in activeTasks)
                                                                        {
                                                                            <a asp-controller="GameTasks" asp-action="Details" asp-route-gameTaskId="@task.Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                                                <div class="flex-column">
                                                                                    <h5 class="mb-0"><span class="badge bg-c-green">@task.Points CBL</span><span class="badge bg-secondary">@task.Type</span> @task.Name</h5>
                                                                                    <p><small>od użytkownika @task.CreatedByName</small></p>
                                                                                    <p>@task.ShortDescription</p>
                                                                                </div>
                                                                                @if (task.Photo is not null)
                                                                                {
                                                                                    <div class="col-2" style="max-width: 130px;">
                                                                                        <img height="130" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; object-fit: cover; border-radius: 10px;"
                                                                                             src="data:image;base64,@Html.Raw(task.Photo)" alt="Card image cap">
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div style="max-width: 130px;">
                                                                                        <img height="130" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; object-fit: cover; border-radius: 10px;"
                                                                                             src="/img/image-placeholder.jpg" alt="Card image cap">
                                                                                    </div>
                                                                                }
                                                                            </a>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="m-1">
                                                                    <p><b><a asp-controller="GameTasks" asp-action="ChooseToCreate" asp-route-placeId="@item.Id" class="text-decoration-none"><l class="bi bi-plus-circle"> dodać nowe?</l></a></b></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <h2 class="accordion-header" style="background-color: #f7f7f7" id="@Html.Raw($"flush-heading{count}")">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@Html.Raw($"#flush-collapse{count}")" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                <div class="d-flex align-items-center me-5">
                                                                    <div class="icon-shape icon-sm icon-shape-gray-500 rounded me-3">
                                                                        <svg data-darkreader-inline-fill="" fill="currentColor" style="--darkreader-inline-fill:currentColor;" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-7.536 5.879a1 1 0 001.415 0 3 3 0 014.242 0 1 1 0 001.415-1.415 5 5 0 00-7.072 0 1 1 0 000 1.415z" clip-rule="evenodd"></path></svg>
                                                                    </div>
                                                                    <div class="d-block">
                                                                        <h4 class="mb-0">Brak zadań dla tego miejsca...</h4>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </h2>
                                                        <div id="@Html.Raw($"flush-collapse{count}")" class="accordion-collapse collapse show" aria-labelledby="@Html.Raw($"@flush-heading{count}")" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">Nie mamy żadnych zadań, może to czas by <b><a asp-controller="GameTasks" asp-action="ChooseToCreate" asp-route-placeId="@item.Id" class="text-decoration-none"><l class="bi bi-plus-circle"> dodać nowe?</l></a></b></div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
        <div class="card-footer border-top bg-gray-50">
            <a class="fw-bold d-flex align-items-center justify-content-center text-decoration-none" asp-controller="GameTasks" asp-action="Index" asp-route-onlyActive="true" asp-route-range="5000">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg>
                Pokaż więcej (@nearbyPlacesCount)
            </a>
        </div>
    </div>
</div>


@section Scripts {


}
