@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Moje dane</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserPhotoNavClass(ViewContext)" id="user-photo" asp-page="./UserPhoto">Moje zdjęcie</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Zmiana hasła</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserStatisticsNavClass(ViewContext)" id="statistics" asp-page="./UserStatistics">Moje statystyki</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ContactAdminsNavClass(ViewContext)" id="contact-admins" asp-page="./ContactAdmins">Napisz do admina</a></li>
</ul>
