@using System.Linq
@using C_bool.BLL.Enums
@model IEnumerable<C_bool.BLL.DAL.Entities.User>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<h1>Lista użytkowników</h1>
<br />
<form asp-action="SearchUsers">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label small">Nazwa:</label>
                <input class="form-control small" type="text" name="name" value="" disabled placeholder="@ViewBag.Name" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label small">Email:</label>
                <input class="form-control small" type="text" name="email" value="" disabled placeholder="@ViewBag.Email" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label small">Płeć:</label>
                <input class="form-control small" name="gender" value="" disabled placeholder="@ViewBag.Gender" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label small">Aktywny:</label>
                @if (ViewBag.IsActive != null)
                {
                    @if (bool.Parse(ViewBag.IsActive))
                    {
                        <input class="form-control small" name="isActive" value="" disabled placeholder="Tylko aktywni" />
                    }
                    else
                    {
                        <input class="form-control small" name="isActive" value="" disabled placeholder="Tylko nieaktywni" />
                    }
                }
                else
                {
                    <input class="form-control small" name="isActive" value="" disabled placeholder="" />
                }
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label small">Sortuj punkty</label>
                @if (ViewBag.IsDescending != null)
                {
                    @if (bool.Parse(ViewBag.IsDescending))
                    {
                        <input class="form-control small" name="isDescending" value="" disabled placeholder="Malejąco" />
                    }
                    else
                    {
                        <input class="form-control small" name="isDescending" value="" disabled placeholder="Rosnąco" />
                    }
                }
                else
                {
                    <input class="form-control small" name="isDescending" value="" disabled placeholder="" />
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <div class="form-group">
                <input type="submit" value="Usuń filtry" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>
                <label asp-for="First().UserName">Nazwa użytkownika</label>
            </th>
            <th>
                <label asp-for="First().Email"></label>
            </th>
            <th>
                <label asp-for="First().Gender">Płeć</label>
            </th>
            <th>
                <label asp-for="First().IsActive">Status</label>
            </th>
            <th>
                <label asp-for="First().Points">Cebule</label>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                @if (@item.Gender == Gender.Unknown)
                {
                    <td>
                        Wiem, ale nie powiem
                    </td>
                }
                else if (@item.Gender == Gender.Male)
                {
                    <td>
                        Mężczyzna
                    </td>
                }
                else if (@item.Gender == Gender.Female)
                {
                    <td>
                        Kobieta
                    </td>
                }
                @if (item.IsActive)
                {
                    <td>Aktywny</td>
                }
                else
                {
                    <td>Zablokowany</td>
                }
                <td>
                    @item.Points
                </td>
                <td>
                    <a asp-action="UserDetails" asp-route-id="@item.Id">Pokaż szczegóły</a> |
                    @if (item.IsActive)
                    {
                        <a asp-action="ChangeUserStatus" asp-route-id="@item.Id">Zablokuj</a>
                    }
                    else
                    {
                        <a asp-action="ChangeUserStatus" asp-route-id="@item.Id">Aktwywuj</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
