@model C_bool.BLL.DAL.Entities.User

@{
    ViewData["Title"] = "Szczególy użytkownika";
}

<h1>Szczególy użytkownika</h1>
<br/>
<div class="row">
    <div class="col-md-4">
        <div>
            <dl class="row">
                <dt class="col-sm-5">
                    <label asp-for="Id"></label>
                </dt>
                <dd class="col-sm-7">
                    @Model.Id
                </dd>
                <dt class="col-sm-5">
                    <label asp-for="UserName">Nazwa użytkownika</label>
                </dt>
                <dd class="col-sm-7">
                    @Model.UserName
                </dd>
                <dt class="col-sm-5">
                    <label asp-for="Gender">Płeć</label>
                </dt>
                <dd class="col-sm-7">
                    @Model.Gender
                </dd>
                <dt class="col-sm-5">
                    <label asp-for="Email"></label>
                </dt>
                <dd class="col-sm-7">
                    @Model.Email
                </dd>
                <dt class="col-sm-5">
                    <label asp-for="CreatedOn">Data utworzenia</label>
                </dt>
                <dd class="col-sm-7">
                    @Model.CreatedOn
                </dd>
                <dt class="col-sm-5">
                    <label asp-for="IsActive">Status</label>
                </dt>
                @if (Model.IsActive)
                {
                    <dd class="col-sm-7">
                        Aktywny
                    </dd>
                }
                else
                {
                    <dd class="col-sm-7">
                        Nieaktywny
                    </dd>
                }
                <dt class="col-sm-5">
                    <label asp-for="Points">Zdobyte cebule</label>
                </dt>
                <dd class="col-sm-7">
                    @Model.Points
                </dd>
            </dl>
        </div>
        <div>
            @if (Model.IsActive)
            {
                <a asp-action="UserDetails" asp-route-id="@Model.Id" onclick="changeUserStatus('AdminPanel','ChangeUserStatus','@Model.Id', 'false')">Zablokuj</a>
            }
            else
            {
                <a asp-action="UserDetails" asp-route-id="@Model.Id" onclick="changeUserStatus('AdminPanel','ChangeUserStatus','@Model.Id', 'true')">Aktwywuj</a>
            } |
            <a asp-action="UsersList">Wróć do listy użytkowników</a>
        </div>
    </div>
    <div class="col-12 col-md-2">
        <div class="card shadow border-0 text-center p-0">
            @if (Model.Photo is not null)
            {
                <img src="data:image;base64,@Html.Raw(Model.Photo)" class="rounded mx-auto mb-4" alt="User photo">
            }
            else
            {
                <img src="/img/onion_man.jpg" class="rounded mx-auto mb-4" alt="Default user photo">
            }
        </div>
    </div>
</div>


<script>
    function changeUserStatus(controller, view, id, status) {
        var postData = { isActive: status };

        $.ajax(
            {
                type: "POST",
                url: '/' + controller + '/' + view + '/' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(postData),
                success: function (data) {
                    showNotif('green', 'OK');
                },

                error: function (xmlhttprequest, textstatus, errorthrown) {
                    showNotif('red', errorthrown);
                }
            });
    };
</script>